/* hero */
.hero {
    position: relative;
    margin-top: 90px;
    padding: 80px 0;
}
.hero__content {
    text-align: center;
}

.hero__heading {
    max-width: 570px;
    margin: 20px auto 0 auto;

    text-transform: capitalize;
    text-align: center;

}

.hero__desc {
    max-width: 532px;
    margin: 10px auto 0 auto;
}

.hero__action {
    margin-top: 40px;
}

.hero-contact {
    margin: 70px 0 83px;
    padding: 40px 0;
    background: var(--dark-orange, #fb8f2c);
}

.hero-contact__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 194px;
    row-gap: 40px;
    overflow: hidden;
}

.hero-contact__item {
    text-align: center;
    margin: 0 auto;
}

.hero-contact__item__heading {
    font-family: Libre Bodoni;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    text-transform: capitalize;
}
.hero-contact__item__desc {
    margin-top: 10px;
    max-width: 270px;
    color: var(--dark-80, rgba(17, 17, 20, 0.8));

    font-family: "Plus Jakarta Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.555;
}

.hero-contact__itemn:nth-of-type(3) .hero-contact__item__desc {
    white-space: nowrap;
}

.hero-img__decor {
    position: absolute;
    height: 408px;
    flex-shrink: 0;
}

.hero-img__decor:nth-of-type(1) {
    top: 94px;
    left: 0;
}
.hero-img__decor:nth-of-type(2) {
    top: 0;
    right: 0;
}

.gallery {
    position: relative;
    margin-top: 83px;
    padding: 67px 0;
}

.gallery__content {
    display: block;
    text-align: center;
}
.Service__heading,
.menu__heading,
.gallery__heading {
    max-width: 676px;
    margin: 9px auto;
    text-transform: capitalize;
}
.menu__desc,
.gallery__desc {
    max-width: 601px;
    margin: 0 auto;
    margin-top: 20px;
}
.gallery__list {
    margin-top: 60px;
    display: grid;
    gap: 30px;

    grid-template-columns: repeat(4, 1fr);
}

.gallery__item {
    width: 100%;
}
.gallery__item:nth-of-type(1) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}
.gallery__item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.gallery__item__thumb {
    position: relative;
}
.gallery__item__info {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery__item__title {
    color: var(--white, #fff);
    text-align: center;
    font-family: Libre Bodoni;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.333; /* 133.333% */
}

.gallery__item__desc {
    white-space: nowrap;
}
.gallery__item:hover .gallery__item__img {
    opacity: 0.5;
}
.gallery__item:hover .gallery__item__info {
    display: block;
}

.gallery__decor {
    position: absolute;
    top: 171px;
}

/* menu */
.menu {
    padding: 83px 0;
}

.menu__content {
    text-align: center;
}

.menu__heading {
    margin-top: 10px;
}

.menu__nav {
    margin-top: 30px;
}

.menu__nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu__nav__link {
    color: var(--white, #fff);
    padding: 30px;
    /* H4 */
    font-family: Libre Bodoni;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.333; /* 133.333% */
}

.menu__nav__link:hover {
    text-shadow: 1px 0 0 currentColor;
}

.menu__nav__active {
    color: var(--dark-orange, #fb8f2c);
}

.menu__list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 40px;
}

.menu__item {
    display: flex;
    align-items: center;
}

.menu__item:hover .menu__item__img {
    transform: scale(1.1);
}

.menu__item__img {
    display: block;
}

.menu__item__thumb {
    display: block;
    overflow: hidden;
    margin-left: 10px;
    width: 76px;
    height: 76px;
    border-radius: 50%
;
}

.menu__item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.menu__item__price,
.menu__item__name {
    color: var(--white, #fff);
    /* H4 */
    font-family: Libre Bodoni;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 133.333% */
}

.menu__item__name {
    max-width: 302px;
    margin-left: 10px;
}

.menu__item__price {
    width: auto;
    margin-left: auto;
}

.Service {
    padding: 70px 0;
}

.Service__content {
    text-align: center;
}

.Service__heading {
    margin-top: 0;
}

.Service__desc {
    max-width: 625px;
    margin: 0 auto;
}

.Service__list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px;
}

.Service__item {
    position: relative;
    padding-top: 15.6%;
}

.Service__item__img__Service {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Service__item__img__thumb {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.Service__item__img__thumb::after {
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: 50%;
    transform: translateX(-50%);
    background: #fb8f2c;
    mix-blend-mode: hue;
}
.Service__item__img {
    display: block;
    width: 100%;
    border: 1px solid #fff;
    object-fit: cover;
}

.book {
    margin-top: 72px;
    padding: 78px 0;
}

.book__heading {
    margin: 0 auto;
    text-align: center;
}

.book__inner {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.book-form {
    width: 100%;
    padding: 40px;
    background: #fb8f2c;
}

.form-row {
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}

.form-input,
.form-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-input {
    position: relative;
    padding: 15px 20px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(17, 17, 20, 0.1);
    backdrop-filter: blur(1px);
}
.form-input,
.form-input::placeholder {
    color: #fff;

    /* 16 */
    font-family: Plus Jakarta Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625; /* 162.5% */
}
.form-input:focus {
    border: 1px solid rgba(191, 185, 185, 0.5);
}

.form-input:invalid {
    border: 1px solid rgba(233, 7, 7, 0.5);
}

.form-submit {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 15px;
    background: #111114;
    backdrop-filter: blur(1px);
}

.form-input-textarea{
    resize: none;
    width: 100%;
    height: 100px;
    grid-column: span 2;
}

.form-submit:hover {
    cursor: pointer;
    opacity: 0.7;
}
.book__thumb {
}
.book__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chef {
    padding: 72px 0;
}
.chef__heading,
.chef__title {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.chef__heading {
    margin-top: 10px;
}

.chef__list {
    margin-top: 40px;
    display: flex;
    overflow: hidden;


}

.chef__item {
    width: calc(calc(100%/3) - 20px);
    flex-shrink: 0;
    position: relative;
    transition: 0.5s ;
}

.chef__item + .chef__item{
    margin-left: 30px;
}

.chef__item:hover .chef__item__name {
    display: block;
}

.chef__item__img {
    position: relative;
    width: 100%;
    height: 384px;
    /*height: 100%;*/
    object-fit: cover;
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(#fbf8fc, #fbf8fc1f) 1;
}
.chef__item__img::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    background: linear-gradient(#fbf8fc, #fbf8fc1f);
}
.chef__item__name {
    position: absolute;
    display: none;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    color: var(--white, #fff);
    text-align: center;
    /* 24 */
    font-family: Libre Bodoni;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4167; /* 141.667% */
    text-transform: capitalize;
}

.chef__item__name::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0.5) 91.77%
    );
    z-index: -1;
}

.chef__Cta {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chef_Cta_button{
    background: transparent;
    border: none;
}
.chef__Cta__btn {
    transition: 0.25s;
}
.chef__Cta__btn:hover {
    cursor: pointer;
    opacity: 0.8;
}
.chef__Cta__back {
    rotate: 180deg;
}

.chef_Cta_button{
    background: transparent;
    border: none;
}

/* blog */
.blog {
    padding: 78px 0;
}

.blog-title,
.blog__heading {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.blog__heading {
    margin-top: 20px;
}

.blog__list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.blog__item__thumb {
    overflow: hidden;
}
.blog__item__img {
    display: block;
    width: 100%;
    transition: 0.5s;
}

.blog__item:hover .blog__item__img {
    transform: scale(1.1);
}

.blog__item__top {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__item__comment {
    transition: 0.5s;
}

.blog__item__heading {
    margin-top: 20px;
    color: var(--white, #fff);

    /* 24 */
    font-family: Libre Bodoni;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.41667; /* 141.667% */
    transition: 0.5s;
    text-transform: capitalize;
}

.blog__item__desc {
    margin-top: 10px;
}

.blog__item__cta__action {
    margin-top: 20px;
    color: #fff;
    text-decoration-color: #fb8f2c;
}

.blog__cta {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.blog__cta__action {
    position: relative;
    padding-bottom: 6px;
    color: #fb8f2c;
    transition: 0.5s;
}

.blog__cta__action::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #fb8f2c;
    bottom: 0;
    left: 0;
}
.blog__cta__action:hover,
.blog__item__heading:hover,
.blog__item__comment:hover {
    opacity: 0.7;
}

.download {
    position: relative;
    margin-top: 72px;
    padding: 30px 0;
    background: #000;
}

.download__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.download__heading {
    max-width: 470px;
    text-transform: capitalize;
}

.download__desc {
    max-width: 370px;
}

.download__cta {
    margin-top: 40px;
    display: flex;
    column-gap: 30px;
}

.download__cta__action:hover {
    opacity: 0.7;
}

.download__decor__right__img {
    position: absolute;
    display: block;
    height: 318.709px;
    object-fit: cover;
}

.download__decor__right {
    position: relative;
    width: 368.322px;
    height: 432px;
    margin-right: 135px;
}

.download__decor__right__img:nth-child(1) {
    bottom: 0;
    left: 143px;
}

.download__decor__right__img:nth-child(2) {
    top: 0;
    bottom: 86px;
}

.download__decor {
    position: absolute;
    width: 81.938px;
    height: 102.762px;
    top: 359px;
    left: 0;
}

.Subscribe {
    padding: 156px 0 150px;
}
.Subscribe__inner {
    max-width: 527px;
    margin: 0 auto;
}
.Subscribe__title {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.Subscribe__heading {
    margin-top: 10px;
    text-align: center;
}

.Subscribe__desc {
    text-align: center;
}

.Subscribe-form {
    margin: 0 auto;
    margin-top: 54px;
}

.Subscribe-form__inner {
    display: flex;
    column-gap: 20px;
}

.Subscribe-form__input {
    width: 100%;
    padding: 15px 10px;

    color: var(--dark-80, rgba(17, 17, 20, 0.8));

    /* 16 */
    font-family: Plus Jakarta Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625; /* 162.5% */
}

.Subscribe-form__submit {
    padding: 15px 44px;
    background: #fb8f2c;
    color: #fff;
    transition: 0.5s;
}

.Subscribe-form__submit:hover {
    opacity: 0.7;
}

.footer {
    padding-bottom: 60px;
}

.footer__row {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-auto-columns: minmax(auto, 200px);
    column-gap: 77px;
}
.footer__logo {
    width: 198.982px;
    height: 48px;
    object-fit: cover;
    display: block;
}

.footer__desc {
    margin-top: 76px;
    width: 211px;
}

.footer__thumb {
    margin-top: 18px;
    display: flex;
    column-gap: 18px;
}
.footer__cta__action {
    width: 121.6px;
    height: 36px;
}
.footer__img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.footer__column__heading {
    margin-bottom: 24px;
    color: var(--white, #fff);
    font-family: Plus Jakarta Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3; /* 130% */
}

.footer__item + .footer__item {
    margin-top: 16px;
}

.footer__link:hover {
    color: var(--dark-orange, #fb8f2c);
}

.footer__logo:hover {
    opacity: 0.8;
}
