@media screen and (max-width: 760px) {
    .introduce {
        padding-top: 80px;
        padding-bottom: 20px;
    }
    .introduce__inner {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .introduce__content {
        width: 100%;
    }
    .introduce__heading {
        font-size: 3.6rem;
        line-height: 1.44; /* 144.444% */
    }

    .introduce__desc {
        margin-top: 24px;
    }

    .introduce__bottom {
        margin-top: 72px;
        flex-direction: column-reverse;
    }

    .our-vision-mission {
        margin-top: 68px;
        padding: 24px 0;
    }

    .our-vision-mission__content {
        width: 100%;
    }
    .our-vision-mission__row {
        margin-top: 50px;
        grid-template-columns: 1fr;
        gap: 50px 0;
    }
    .our-vision-mission__list {
        gap: 34px 0;
    }
    .our-vision-mission__item {
        align-items: start;
        column-gap: 18px;
    }
    .our-vision-mission__item__thumb {
    }
    .our-vision-mission__item__img {
        width: 72px;
        height: 72px;
    }

    .our-vision-mission__item__desc {
        margin-top: 8px;
    }
    .our-vision-mission__img.pc {
        display: none;
    }
    .our-vision-mission__img.mobile {
        display: block;
    }

    .subscribe-newsletter {
        margin-top: 48px;
        padding: 40px 0;
        margin-bottom: 54px;
    }
}
