<footer class="footer footer-pc">
    <div class="container">
        <div class="footer__row">
            <div class="footer__column footer__content">
                <a>
                    <img
                            src="/assets/icons/footer__logo.svg"
                            alt=""
                            class="footer__logo"
                    />
                </a>

                <p class="section-desc footer__desc">
                    Download the WowWraps app today.
                </p>

                <figure class="footer__thumb">
                    <img
                            src="/assets/icons/apple_store.svg"
                            alt=""
                            class="footer__img"
                    /><img
                        src="/assets/icons/google_play.svg"
                        alt=""
                        class="footer__img"
                />
                </figure>
            </div>
            <!-- footer__column1 -->
            <div class="footer__column">
                <h3 class="footer__column__heading">Usefull Link</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Home</a
                        >
                    </li>
                    <li class="footer__item">
                        <a
                                href="about.html"
                                class="footer__link section-desc"
                        >About Us</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Services</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Booking</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Menu</a
                        >
                    </li>
                </ul>
            </div>

            <!-- footer__column2 -->
            <div class="footer__column">
                <h3 class="footer__column__heading">Contact Info</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Silk St, Barbican, London EC2Y 8DS, UK</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >info@example.com</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >800-123-45-678</a
                        >
                    </li>
                </ul>
            </div>

            <!-- footer__column 3  -->
            <div class="footer__column">
                <h3 class="footer__column__heading">Follow us</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Facebook</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Instagram</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Linkedin</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Twitter</a
                        >
                    </li>
                </ul>
            </div>

            <!-- footer__column1 -->
            <div class="footer__column">
                <h3 class="footer__column__heading">Legal</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Website by uihut.com</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >©2022. All Rights Reserved</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<footer class="footer footer-moblie">
    <div class="container">
        <a href="">
            <img
                    src="/assets/icons/footer__logo.svg"
                    alt=""
                    class="footer__logo"
            />
        </a>
        <div class="footer__row">
            <!-- footer__column1 -->
            <div class="footer__column">
                <h3 class="footer__column__heading">Usefull Link</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Home</a
                        >
                    </li>
                    <li class="footer__item">
                        <a
                                href="about.html"
                                class="footer__link section-desc"
                        >About Us</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Services</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Booking</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Menu</a
                        >
                    </li>
                </ul>
            </div>

            <!-- footer__column2 -->
            <div class="footer__column">
                <h3 class="footer__column__heading">Contact Info</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Silk St, Barbican, London EC2Y 8DS, UK</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >info@example.com</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >800-123-45-678</a
                        >
                    </li>
                </ul>
            </div>

            <!-- footer__column 3  -->
            <div class="footer__column">
                <h3 class="footer__column__heading">Follow us</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Facebook</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Instagram</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Linkedin</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Twitter</a
                        >
                    </li>
                </ul>
            </div>

            <!-- footer__column 4 -->
            <div class="footer__column">
                <h3 class="footer__column__heading">Legal</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >Website by uihut.com</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link section-desc"
                        >©2022. All Rights Reserved</a
                        >
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-moblie__contnet">
            <p class="section-desc footer__desc">
                Download the WowWraps app today.
            </p>

            <figure class="footer__thumb">
                <img
                        src="/assets/icons/apple_store.svg"
                        alt=""
                        class="footer__img"
                /><img
                    src="/assets/icons/google_play.svg"
                    alt=""
                    class="footer__img"
            />
            </figure>
        </div>
    </div>
</footer>