<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <!DOCTYPE html>
    <html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
    <div>
        <p style="color: black;">Chào quý khách hàng thân mến,</p>
        <p style="color: black;">Chúng tôi xin gửi lời chào và cảm ơn bạn đã liên hệ <span
                style="color: black; font-weight: bold">Wowwraps</span> để đặt bàn. Xin lỗi
            vì không thể đáp ứng yêu cầu của bạn vào thời gian và ngày bạn mong muốn. Chúng tôi hiểu rằng bạn có nhu cầu
            đặt bàn tại nhà hàng của chúng tôi và rất tiếc vì không thể phục vụ bạn lần này.
        </p>
        <p style="color: black;">Lý do mà chúng tôi không thể đáp ứng yêu cầu của bạn: <span th:text="${book.reason}" style="color: black;"></span>
        </p>
        <p style="color: black;">Nếu bạn có bất kỳ thời gian hay ngày thay đổi nào khác hoặc cần đặt bàn vào một thời
            gian khác, xin vui lòng liên hệ với chúng tôi và chúng tôi sẽ cố gắng hết sức mình để sắp xếp lại lịch đặt
            bàn cho bạn một cách thích hợp.
        </p>

        <p style="color: black;">Chúng tôi xin chân thành xin lỗi vì sự bất tiện này và rất mong có cơ hội phục vụ bạn
            trong tương lai. Xin vui lòng liên hệ với chúng tôi qua số điện thoại
            <a href="tel:0332895346">+84 332 895 346</a> hoặc email <a
                    href="mailto:wowwraps1010@gmail.com&subject=Phản hồi">
                wowwraps1010@gmail.com</a>. nếu bạn cần thêm thông tin hoặc có bất kỳ câu hỏi nào khác.
        </p>
        <p style="color: black;">Chúng tôi cảm ơn bạn đã quan tâm đến <span style="color: black; font-weight: bold">Wowwraps</span>
            và hy vọng sẽ có cơ hội phục vụ bạn
            một ngày nào đó.
        </p>
        <p style="color: black; font-weight: bold">Trân trọng,</p>
        <p style="color: black; font-weight: bold">Wowwraps</p>

    </div>
    </body>
    </html>

</div>
</body>
</html>
